<div class="reg-container">

  <h1 class="page-title">Register</h1>

  <form action="" class="reg-form">
    <fieldset>
      <input type="text" placeholder="Name" required minlength="3" class="">
      <input type="text" placeholder="Age" required class="">
      <div class="occ-select">
        <select required name="occupation" id="" class=""></select>
      </div>
    </fieldset>

    <fieldset>
      <button class="button">
        Check in
      </button>
    </fieldset>
  </form>  

</div>  <!-- reg-container  -->
