<div class="reg-container">

  <h1 class="page-title">Register</h1>

  <form action="" class="reg-form">
    <fieldset>
      <input type="text" placeholder="Name" [(ngModel)]="colonist.name" name="name" required minlength="3" class="" />
      <input type="number" placeholder="Age" [(ngModel)]="colonist.age" name="age" required class="" />
      <div class="occ-select">
        <select required name="occupation" id="" class="">
          <option *ngFor ="let job of marsJob" value="">
            {{job.name}}
          </option>
        </select>
      </div>
    </fieldset>

    <fieldset>
      <button class="button">
        Check in
      </button>
    </fieldset>
  </form>  

</div>  <!-- reg-container  -->
