/*   reg-container  here !!!!!!*/

.reg-container {
    background: #000;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*   title  here   !!!!!!!!!  */
.page-title {
    text-align: center;
    padding: 2rem 1rem;
    color: white;
    font-size: 2rem;
}

/*  reg form  here    !!!!!   */
.reg-form {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    flex: 4;
}

fieldset {
    display: flex;
    flex: 1;
}

.reg-form input {
    margin-bottom: 1.5rem;
    
}

input {
    border: none;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    height: 2rem;
    padding-left: 0.5rem;
    width: 100%;
    background: 0 0;
    color: white;
    font-size: 1rem;
}

::-webkit-input-placeholder {
    color: #ed4343;
}


/*  select form   here !!!!!!!  */

.occ-select {
    height: 2rem;
    border-bottom: 1px solid white;
    width: 100%;
}

.occ-select select {
    border: 1px solid transparent;
    padding-left: 0.5rem;
    background: 0 0;
    color: white;
    width: 100%;
    font-size: 1rem;
}

.occ-select select.placeholder {
    color: #ed4343;
}

/*  buttion  here   !!!!!!!*/

.button {
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    background: #000;
    font-size: 2rem;
    text-align: center;
    border: none;
    box-shadow: none;
}

.button a{
    text-decoration: none;
}